*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
}

.titulo{
    color:#22d4fd;
}

.apresentacao{
  
  margin: 10%;
  display: flex;  
  align-items: center;
  justify-content: space-between;
}

.apresentacao__conteudo{
width: 615px;
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
}

.texto{
    font-size: 26px;
}